/* Patternfly CSS places a "bg-login.jpg" as the background on this ".login-pf" class.
This clashes with the "keycloak-bg.png' background defined on the body below.
Therefore the Patternfly background must be set to none. */

textarea.pf-c-form-control {
  height: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#kc-header-wrapper {
  display: none;
  padding: 2rem;
}

#kc-title {
  font-style: bold;
  font-size: 24px;
}

#input-error {
  color: red;
}

#kc-login {
  cursor: pointer;
}

#kc-title {
  text-align: center;
  margin-bottom: 12px;
}

#kc-form {
  align-content: center;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#kc-form-buttons {
  margin-bottom: 24px;
}

#kc-form-login {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#kc-passwd-update-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#kc-form-wrapper {
  align-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#kc-form-wrapper input {
  align-content: center;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #79747e;
  padding: 4px 16px;
  width: 320px;
}

#kc-form-wrapper input:focus {
  outline: none;
  border: 1px solid #78549a;
}

#kc-form-wrapper input::placeholder {
  color: #49454f;
}

a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

#kc-button {
  background-color: #6210cc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 354px !important;
  height: 40px !important;
  color: white;
  padding: 4px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#kc-button:hover {
  background-color: #7a29e6;
}
#kc-logo {
  margin-top: 16px;
}

#kc-logo-img {
  width: 120px;
}
